.window-content {
  display: none;
}

.window-content {
  //   display: block !important;
  gap: 0.4rem;
}

input {
  &.right {
    text-align: right
  }
  &.lg {
    font-size: 2rem;
    font-weight: 700;
  }
  &.md {
    font-size: 1.5rem;
    font-weight: 500;
    max-height: 1.5rem;
  }
  &.sm {
    font-size: 1rem;
    font-weight: 300;
    max-height: 1rem;
  }
  &.shadow {
    background: rgba(255,0,20, 0.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
  }
  &.transparent {
    display: block;
    padding: 0;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: "Modesto Condensed", "Palatino Lynotype", serif;
    background: none;
    -webkit-transition: background 0.3s ease, border-color 0.3s ease;
    transition: background 0.3s ease, border-color 0.3s ease;
    &:hover {
      background: rgba(255,0,20, 0.1);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
    }
  }
}

.flexrow.split > div {
  padding: 0 4px;
  border-right: 1px solid grey;
}

label {
  display: inline-block;
  max-height: 1rem;
  text-transform: capitalize;
  margin-right: 0.4rem
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}

article {
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  padding: 0;
  margin: 0;
  min-height: 150px;
  text-align: left;
  background: rgba(20, 0, 20, 0.1);

  h2 {
    text-transform: capitalize;
  }
  
}


// padding / margins

  .px-md {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .py-md {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pa-md {
    padding: 1rem;
  }
  .px-sm {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
  .py-sm {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
  .pa-sm {
    padding: 0.4rem;
  }
  .pa-xs {
    padding: 0.2rem;
  }
  .pl-sm {
    padding-left: 0.4rem;
  }
  .pr-sm {
    padding-right: 0.4rem;
  }
  .pb-sm {
    padding-bottom: 0.4rem;
  }
  .pt-sm {
    padding-top: 0.4rem;
  }
  .mx-sm {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }
  .mt-sm {
    margin-top: 0.4rem;
  }
  .mb-sm {
    margin-bottom: 0.4rem;
  }
  .mr-sm {
    margin-right: 0.4rem;
  }
  .mr-md {
    margin-right: 1rem;
  }
  .ml-sm {
    margin-left: 0.4rem;
  }
  .ml-md {
    margin-left: 1rem;
  }
  .ml-lg {
    margin-left: 1.5rem;
  }
  .ml-xl {
    margin-left: 2rem;
  }
  .my-sm {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
  .ma-sm {
    margin: 0.4rem;
  }
  .bold {
    font-weight: 700;
  }

  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .hide {
    visibility: hidden; 
  }