.window-content {
  display: none;
}

.window-content {
  //   display: block !important;
  gap: 0.4rem;
}

input {
  max-height: 2rem;
}

label {
  display: inline-block;
  max-height: 1rem;
  text-transform: capitalize;
  margin-right: 0.4rem
}

.right {
  text-align: right;
}

.inline {
  display: inline;
}

article {
  // border: 2px solid grey;
  // border-radius: var(--border-radius);
  padding: 0.2rem;
  margin: 0.5rem 0.5rem 4rem 1rem;
  min-height: 80px;
  text-align: left;

  h2 {
    text-transform: capitalize;
  }
}

// padding / margins

  .px-md {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .py-md {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pa-md {
    padding: 1rem;
  }
  .px-sm {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
  .py-sm {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
  .pa-sm {
    padding: 0.4rem;
  }
  .pl-sm {
    padding-left: 0.4rem;
  }
  .pr-sm {
    padding-right: 0.4rem;
  }
  .mx-sm {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }
  .mt-sm {
    margin-top: 0.4rem;
  }
  .mr-sm {
    margin-right: 0.4rem;
  }
  .ml-sm {
    margin-left: 0.4rem;
  }
  .my-sm {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
  .ma-sm {
    margin: 0.4rem;
  }