:root {
  // Border styling
  --border-style: solid;
  --border-radius: 10px;
  --border-width: 0.1rem;
  --border-color: black;

  // Input styling
  --input-border-style: solid;
  --input-border-radius: 3px;
  --input-border-width: 1px;
  --input-color: black;
  --input-height: 1.5rem;
  --input-width: 100%;
  --input-background: white;
  --input-padding: 0 0.25rem;

  --static-value-background: rgb(70, 70, 70);
  --font-color: rgba(255, 255, 255, 0.83);
  --disabled-opacity: 1

  // Button Styling
  --button-border-style: solid;
  --button-border-radius: 25px;
  --button-border-width: 0.1rem;
  --button-border-color: black;
  --button-padding: 0.1rem 0.5rem;
  --button-background: rgba(255, 255, 240, 0.8);
  --button-background-disabled: rgb(208, 208, 208);
  --button-background-highlight: rgb(255, 233, 174);
  --button-font-size: 1rem;
  --button-font-weight: bold;
  --button-color: black;
  --button-line-height: 1.75rem;
  --button-color-disabled: black;
  --button-color-highlight: black;
  
}